
html {
    color: white;
    font-family: 'Amatic Sc';
    padding: 0px;
    margin: 0px;
    overflow-x: 0px;
    background-color: green;
}



#h2 {
    text-align: center;
    
}
.antwort {
  font-size: 60;
}
.frage {
  
    font-size: 40 ;
    
}
.frage2 {
  
    font-size: 40 ;
}
.inputs {
    border: 0px solid black;
    border-bottom: 1px solid black; 
    font-size: 40;

}
.label {
    border: 0px solid black;
    border-bottom: 1px solid black; 
    font-size: 40;

}
.hintergr {
position:absolute;
top: 0px;
left: 0px;
width: 100vw;
background-repeat:repeat-y;
background-position: left;
z-index: -1;
}
#map {
    border: black solid 3px;  
    box-shadow: 20px 20px 19px rgb(72, 95, 72);

}

#bild1 {
    width: 100%;
    margin: 0px;
    z-index: 2;
    padding: 0px;
    display:block;

}


    

h1 {
    text-align: left;
    z-index: 200;
    opacity: 20;
    position: absolute;
    top:200px;

    font-size: 100;
    color: white;
    font-family: 'Ms Madi';
    margin-left: 3vw;
    
}
#demo {
    z-index: 20;
    opacity: 100;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: xxx-large;
    color: white;
    padding-right: 20px;
    font-family: 'Courier New', Courier, monospace;

}

#cr7 {
    text-align: center;
    color: white;
}

.aboutus {
 
    font-size: 46;
    padding-left: 40px;
    padding-right: 40px;
}

hr {
    border: 1px solid white;
     width: 40vw;
     margin-top: -15px;

}

h2 {
    font-family: 'Ms Madi';
    font-size: 60;
}
#email {
    margin-top: 20px;
    margin-bottom: 20px;
}
#strich {
    height: 200px;
    width: 0.5vw;
    background-color: white;
    text-align: center;
    align-items: center;
    align-self: center;
    margin-left: 48.75vw;
    margin-right: 48.75vw;
    margin-top: 100px;
 
}
#warumgehtdasnicht {
    background-color: black;
}
.Bilder {
    width: 50%;
    float: left;
}

#linke:any-link {
    color: white;
}
